body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container{
  width: 60%;
  margin: 0 auto;
}

.item{
  display: flex;
  margin-top: 20px;
  border-top: 5px;
  border-color: #222222;
}

.item-image{
  flex: 1;
  border-color: #222222;
  box-shadow: 5px;
}

.item-image img{
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.item-content{
  flex: 3;
  margin: 0px 10px;
}

.item-content .author-date{
  display: flex;
  margin-top: 10px;
}

.author{
  flex : 1
}

.date{
  flex : 1
}